 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
  height: 100vh;
  width: 100%;
  background-image:url(virtual.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: change infinite 10s ease;
}


 .section{
  font-size: 500px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 850px;
  margin-left: 1800px;
  margin-right: 2200px;
  cursor: pointer;
  color: rgb(88, 85, 85);
  letter-spacing: 3px;

 }
 .section #artgallery{
  color: white;
  -webkit-text-stroke-width: 10px;
  -webkit-text-stroke-color: black;
}

 
 

  button{
    width: 300px;
    height: 99px;
    font-size: 70px;
    font-weight: bold;
    margin-left: 700px;
    margin-top: 80px;
    border-radius: 16px;
    padding: 10px 30px;
    background-color: lightgray;
    box-shadow: inset;
    border: none;
    transition: 1s;
  }

  button a{
    text-decoration:none;
    color:rgb(73, 68, 68);
  }

  button:hover{
    font-size: 60px;
    cursor: pointer;  

  }


 

  @keyframes change{
    0%
    {
        background-image: url(virtual7.jpg);
    }

    40%
    {
        background-image: url( virtual6.jpg);
    }

    60%
    {
        background-image: url(virtual4.jpg);
    }

    80%
    {
        background-image: url(virtual1.jpg);
    }

    100%
    {
        background-image: url(virtual5.jpg);
    }

    
}     
 